# Frontend Environment Variables
VITE_API_URL=http://localhost:3000

# WebSocket URLs for each microservice
VITE_INVENTORY_WS=http://localhost:3001
VITE_CRM_WS=http://localhost:3002
VITE_PURCHASES_WS=http://localhost:3003
VITE_POS_WS=http://localhost:3004
