# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=inventory_db
DB_PASSWORD=admin123
DB_PORT=5432

# Service Configuration
PORT=3001
SERVICE_NAME=inventory-service

# Reports Service (for communication)
REPORTS_SERVICE_URL=http://localhost:3005
