PORT=3005
SERVICE_NAME=reports-service
INVENTORY_SERVICE_URL=http://localhost:3001
CRM_SERVICE_URL=http://localhost:3002
PURCHASES_SERVICE_URL=http://localhost:3003
POS_SERVICE_URL=http://localhost:3004
